<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8" />
    <title>:: TORIANIN PAGE ::</title>
    <meta name="author" content="Robert Ignasiak"/>
    <script src="/js/jquery-1.7.1.min.js"></script>
    <script src="/js/jquery.mousewheel-min.js"></script>
    <script src="/js/jquery.terminal-min.js"></script>
    <link href="/css/jquery.terminal.css" rel="stylesheet"/>
    <style type="text/css">
    input{
        font-family: FreeMono, monospace;
        color: #FFF;
        background-color: #000;
        font-size: 13px;
        line-height: 14px;
        width:450px;
        border: 0px solid;
        outline: 0;
    }
    </style>
    <script>
    jQuery(document).ready(function($) {
        $("#input").focus();
        $("#input").setSelectionRange && $("#input").setSelectionRange(0, 0);
        $("#input").keyup(function (e) {
            var term = $('#term').terminal();
            if (e.keyCode == 13) {
                var input = $(this).val();
                term.exec(input,false);
                $("#input").val('');
                $("#input").focus();
                $("#input").setSelectionRange && $("#input").setSelectionRange(0, 0);
            }
        });
        $('#term').terminal(function(command, term) {
            $.post("ask",
            {
                query:command,
            },
            function(data,status){
                term.echo(data);
            });
        }, {
        greetings: '[[b;red;black] _______         _             _       \r\n|__   __|       (_)           (_)      \r\n   | | ___  _ __ _  __ _ _ __  _ _ __  \r\n   | |\/ _ \\| \'__| |\/ _` | \'_ \\| | \'_ \\ \r\n   | | (_) | |  | | (_| | | | | | | | |\r\n   |_|\\___\/|_|  |_|\\__,_|_| |_|_|_| |_|]\r\n\t\t\t\t\t[[;red;black]  robert-i.com 2014]\r\n----------------------------------------\r\nCreated by Robert Ignasiak \r\n[[;lightblue;black]Facebook: http://facebook.com/torianin\r\nLinkedin: http://linkedin.com/in/torianin\r\nInstagram: http://instagram.com/torianin]\r\n----------------------------------------\r\n\r\nWitam serdecznie i czekam na pytania.',
        name: 'torianin',
        height: 200,
        width: 450,
        prompt: ''});
    });
    </script>
  </head>
<body>
<div id="term"></div>
<input id="input" type="text" value="" autofocus/>
</body>